<%#
REFERENCES
1. Jensen, C. (2023). Fullstack E-Commerce: Ruby on Rails 7, Hotwire, Tailwind, Stripe, PostgreSQL [YouTube Video]. In YouTube. https://www.youtube.com/watch?v=hURUMwdCWuI&t=1109s (https://github.com/connerj70/ecomm)

2. Sreeram Venkitesh. (2022, October 13). How To Set Up User Authentication with Devise in a Rails 7 Application. Digitalocean.com; DigitalOcean. https://www.digitalocean.com/community/tutorials/how-to-set-up-user-authentication-with-devise-in-a-rails-7-application

3. Learn Hotwire and Turbo with a free Rails 7 tutorial. (2024). Learn Hotwire and Turbo with a Free Rails 7 Tutorial. https://www.hotrails.dev/turbo-rails

4. Tailwind CSS - Rapidly build modern websites without ever leaving your HTML. (2020, November 15). Tailwindcss.com; Tailwind CSS. https://tailwindcss.com/

5. What are payment rails? A guide | Stripe. (2023). Stripe.com. https://stripe.com/REFERENCES/more/what-are-payment-rails

6. PostgreSQL Tutorial. (2021). Postgresqltutorial.com. https://www.postgresqltutorial.com/

7. Beginning | Ruby on Rails Tutorial. (2014). Blackboard.com. https://alt-5fc921f3695d4.blackboard.com/bbcswebdav/courses/CSCI.33440.2022-50/rails_tutorial/beginning.html

8. chart.js. (2023, December 4). Npm. https://www.npmjs.com/package/chart.js?activeTab=readme

9. Stimulus Handbook. (2023). Hotwired.dev. https://stimulus.hotwired.dev/handbook/origin


#%>

<main class="container mx-auto mt-28 max-w-7xl px-2 sm:px-6 lg:px-8">
      <h2>Log in</h2>

<form class="new_admin" id="new_admin" action="/admins/sign_in" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="x5FhBCNfZ_B8NXyF9KbQwiPGJ587JJVEW0uKcv0E4LlZ13uCSBRAf4oWFJopfQYIYpSWDsuFukmgUP01W1HJ7A" autocomplete="off" />
  <div class="field">
    <label for="admin_email">Email</label><br />
    <input autofocus="autofocus" autocomplete="email" type="email" value="" name="admin[email]" id="admin_email" />
  </div>

  <div class="field">
    <label for="admin_password">Password</label><br />
    <input autocomplete="current-password" type="password" name="admin[password]" id="admin_password" />
  </div>

    <div class="field">
      <input name="admin[remember_me]" type="hidden" value="0" autocomplete="off" /><input type="checkbox" value="1" name="admin[remember_me]" id="admin_remember_me" />
      <label for="admin_remember_me">Remember me</label>
    </div>

  <div class="actions">
    <input type="submit" name="commit" value="Log in" data-disable-with="Log in" />
  </div>
</form>

  <a href="/admins/sign_up">Sign up</a><br />

  <a href="/admins/password/new">Forgot your password?</a><br />
  